  <!-- <hr>
  <p style="font-size:0.9em;">ูุณุฎุฉ ุชุฌุฑูุจูุฉ ูููุธุงู</p> -->
  <footer class="footer">
  <div style="margin-right: 50px;" class="footer-search">
    <p>ูุงุฆูุฉ ุงููุตููุงุช</p>
    <ul>
    <li><label for="receiptId">๐ ุฅุฏุฎุงู ุฑูู ุนูููุฉ ุงูุจูุน:</label>
    <form style="text-align: right;" onsubmit="goToReceipt(event)">
      <input type="text" name="receiptId" id="receiptId" placeholder="ุงูุชุจ ุฑูู ุงูุนูููุฉ..." required>
      <button type="submit">ุนุฑุถ ุงููุตู</button>
    </form></li>
    <li><label for="">ุนุฑุถ ุฌููุน ุงููุตููุงุช</label>
      <a href="/reports/week"><button>ุงุถุบุท ููุง</button></a>
    </li>
    </ul>
  </div>

  <div class="footer-nav">
    <p>ุงูุตูุญุงุช ุงูุฑุฆูุณูุฉ</p>
    <ul style="margin-right: 60px;">
      <li><a href="/">๐ ุงูุฑุฆูุณูุฉ</a></li>
      <li><a href="/add">โ ุฅุถุงูุฉ ููุชุฌ</a></li>
      <li><a href="/stats">๐ ุงูุฅุญุตุงุฆูุงุช</a></li>
      <li><a href="/profit">๐ ุงูุฃุฑุจุงุญ</a></li>
      <li><a href="/help">๐ ุงููุณุงุนุฏุฉ</a></li>
    </ul>
  </div>


  <div class="footer-nav">
    <p>ูู ุชูุงุฌู ูุดููุฉ ุ</p>
    <small>ุงุฐุง ูุงุฌูุชู ุงู ูุดููุฉ ุณูุงุก ุชูููุฉ ุงู ุบูุฑูุง <br> ูุง ุชุชุฑุฏุฏ ุจุงูุงุชุตุงู ุจู <br> ูุณุงุนุฏุฉ ููุฌูุฏ ุงุบูุจ ุงููุงุช ุงูููู  <br> ู ูุง ุนูุงุฌ ุงู ูุดููุฉ ูุง ุฑุงุญ ูุทูู ุงูุซุฑ ูู ุฏูุงุฆู ูุนุฏูุฉ <br> ูุงู ุงููุธุงู ูุชูุงูู ู ูุดูุงูู ุจุณูุทุฉ <br><a style="text-decoration: underline;" href="https://api.whatsapp.com/send?phone=9647761763665">ุงุถุบุท ููุง ููุชูุงุตู ูุนู</a></small>
  </div>

  <div class="footer-copy">
    <p>ุฌููุน ุงูุญููู ูุญููุธุฉ ยฉ 2025 <a href="https://api.whatsapp.com/send?phone=9647761763665" target="_blank" style="text-decoration: underline;">ุนูู ูุงุฏู</a></p>
  </div>
</footer>

<script>
  function goToReceipt(e) {
    e.preventDefault();
    const id = document.getElementById('receiptId').value.trim();
    if (id) {
      window.location.href = `/receipt/${id}`;
    }
  }
</script>

<script src="/js/main.js"></script>


</body>
</html>
